In [7]:
%pip install datacompy

1795.34s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Looking in indexes: https://pypi.org/simple, https://pypi.org/simple/
Requirement already satisfied: datacompy in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (0.10.3)
Requirement already satisfied: pandas<=2.0.2,>=0.25.0 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from datacompy) (2.0.2)
Requirement already satisfied: numpy<=1.24.3,>=1.22.0 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from datacompy) (1.24.3)
Requirement already satisfied: ordered-set<=4.1.0,>=4.0.2 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from datacompy) (4.1.0)
Requirement already satisfied: fugue<=0.9.0,>=0.8.6 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from datacompy) (0.8.6)
Requirement already satisfied: triad>=0.9.1 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (0.9.1)
Requirement already satisfied: adagio>=0.2.4 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (0.2.4)
Requirement already satisfied: pyarrow>=0.15.1 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (13.0.0)
Requirement already satisfied: qpd>=0.4.4 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (0.4.4)
Requirement already satisfied: fugue-sql-antlr>=0.1.6 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (0.1.7)
Requirement already satisfied: sqlglot in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (18.6.0)
Requirement already satisfied: jinja2 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue<=0.9.0,>=0.8.6->datacompy) (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from pandas<=2.0.2,>=0.25.0->datacompy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from pandas<=2.0.2,>=0.25.0->datacompy) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from pandas<=2.0.2,>=0.25.0->datacompy) (2023.3)
Requirement already satisfied: antlr4-python3-runtime<4.12,>=4.11.1 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fugue-sql-antlr>=0.1.6->fugue<=0.9.0,>=0.8.6->datacompy) (4.11.1)
Requirement already satisfied: six>=1.5 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas<=2.0.2,>=0.25.0->datacompy) (1.16.0)
Requirement already satisfied: fsspec in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from triad>=0.9.1->fugue<=0.9.0,>=0.8.6->datacompy) (2023.9.1)
Requirement already satisfied: fs in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from triad>=0.9.1->fugue<=0.9.0,>=0.8.6->datacompy) (2.4.16)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from jinja2->fugue<=0.9.0,>=0.8.6->datacompy) (2.1.1)
Requirement already satisfied: appdirs~=1.4.3 in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fs->triad>=0.9.1->fugue<=0.9.0,>=0.8.6->datacompy) (1.4.4)
Requirement already satisfied: setuptools in /Users/igladyshev/anaconda3/envs/sql-comparison/lib/python3.9/site-packages (from fs->triad>=0.9.1->fugue<=0.9.0,>=0.8.6->datacompy) (68.0.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
from io import StringIO
import pandas as pd
import datacompy

data1 = """acct_id,dollar_amt,name,float_fld,date_fld
10000001234,123.45,George Maharis,14530.1555,2017-01-01
10000001235,0.45,Michael Bluth,1,2017-01-01
10000001236,1345,George Bluth,,2017-01-01
10000001237,123456,Bob Loblaw,345.12,2017-01-01
10000001239,1.05,Lucille Bluth,,2017-01-01
"""

data2 = """acct_id,dollar_amt,name,float_fld
10000001234,123.4,George Michael Bluth,14530.155
10000001235,0.45,Michael Bluth,
10000001236,1345,George Bluth,1
10000001237,123456,Robert Loblaw,345.12
10000001238,1.05,Loose Seal Bluth,111
"""

df1 = pd.read_csv(StringIO(data1))
df2 = pd.read_csv(StringIO(data2))

datacompy.is_match(
    df1,
    df2,
    join_columns='acct_id',  #You can also specify a list of columns
    abs_tol=0, #Optional, defaults to 0
    rel_tol=0, #Optional, defaults to 0
    df1_name='Original', #Optional, defaults to 'df1'
    df2_name='New' #Optional, defaults to 'df2'
)
# False

# This method prints out a human-readable report summarizing and sampling differences
print(datacompy.report(
    df1,
    df2,
    join_columns='acct_id',  #You can also specify a list of columns
    abs_tol=0, #Optional, defaults to 0
    rel_tol=0, #Optional, defaults to 0
    df1_name='Original', #Optional, defaults to 'df1'
    df2_name='New' #Optional, defaults to 'df2'
))

2023-09-22 13:25:57,977 [MainThread  ] [INFO ]  df1 does not Pandas.DataFrame.equals df2
2023-09-22 13:25:57,979 [MainThread  ] [INFO ]  Number of columns in common: 4
2023-09-22 13:25:57,979 [MainThread  ] [INFO ]  Column in df1 and not in df2: date_fld
2023-09-22 13:25:57,979 [MainThread  ] [INFO ]  Number of columns in df1 and not in df2: 1
2023-09-22 13:25:57,980 [MainThread  ] [INFO ]  Number of columns in df2 and not in df1: 0
2023-09-22 13:25:57,991 [MainThread  ] [INFO ]  Number of rows in df1 and not in df2: 1
2023-09-22 13:25:57,992 [MainThread  ] [INFO ]  Number of rows in df2 and not in df1: 1
2023-09-22 13:25:57,993 [MainThread  ] [INFO ]  Number of rows in df1 and df2 (not necessarily equal): {len(self.intersect_rows)}
2023-09-22 13:25:57,993 [MainThread  ] [INFO ]  acct_id: 4 / 4 (100.00%) match
2023-09-22 13:25:57,995 [MainThread  ] [INFO ]  dollar_amt: 3 / 4 (75.00%) match
2023-09-22 13:25:57,997 [MainThread  ] [INFO ]  name: 2 / 4 (50.00%) match
2023-09-22 13:25:57,999 [MainThread  ] [INFO ]  float_fld: 1 / 4 (25.00%) match
2023-09-22 13:25:58,000 [MainThread  ] [INFO ]  df1 does not match df2
2023-09-22 13:25:58,001 [MainThread  ] [INFO ]  df1 does not Pandas.DataFrame.equals df2
2023-09-22 13:25:58,001 [MainThread  ] [INFO ]  Number of columns in common: 4
2023-09-22 13:25:58,002 [MainThread  ] [INFO ]  Column in df1 and not in df2: date_fld
2023-09-22 13:25:58,002 [MainThread  ] [INFO ]  Number of columns in df1 and not in df2: 1
2023-09-22 13:25:58,002 [MainThread  ] [INFO ]  Number of columns in df2 and not in df1: 0
2023-09-22 13:25:58,009 [MainThread  ] [INFO ]  Number of rows in df1 and not in df2: 1
2023-09-22 13:25:58,009 [MainThread  ] [INFO ]  Number of rows in df2 and not in df1: 1
2023-09-22 13:25:58,010 [MainThread  ] [INFO ]  Number of rows in df1 and df2 (not necessarily equal): {len(self.intersect_rows)}
2023-09-22 13:25:58,010 [MainThread  ] [INFO ]  acct_id: 4 / 4 (100.00%) match
2023-09-22 13:25:58,012 [MainThread  ] [INFO ]  dollar_amt: 3 / 4 (75.00%) match
2023-09-22 13:25:58,013 [MainThread  ] [INFO ]  name: 2 / 4 (50.00%) match
2023-09-22 13:25:58,015 [MainThread  ] [INFO ]  float_fld: 1 / 4 (25.00%) match
2023-09-22 13:25:58,015 [MainThread  ] [INFO ]  df1 does not match df2

DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Original        5     5
1       New        4     5

Column Summary
--------------

Number of columns in common: 4
Number of columns in Original but not in New: 1
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: acct_id
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 4
Number of rows in Original but not in New: 1
Number of rows in New but not in Original: 1

Number of rows with some compared columns unequal: 4
Number of rows with all compared columns equal: 0

Column Comparison
-----------------

Number of columns compared with some values unequal: 3
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 6

Columns with Unequal Values or Types
------------------------------------

       Column Original dtype New dtype  # Unequal  Max Diff  # Null Diff
0  dollar_amt        float64   float64          1    0.0500            0
2   float_fld        float64   float64          3    0.0005            2
1        name         object    object          2    0.0000            0

Sample Rows with Unequal Values
-------------------------------

       acct_id  dollar_amt (Original)  dollar_amt (New)
0  10000001234                 123.45             123.4

       acct_id name (Original)            name (New)
0  10000001234  George Maharis  George Michael Bluth
1  10000001237      Bob Loblaw         Robert Loblaw

       acct_id  float_fld (Original)  float_fld (New)
0  10000001235                1.0000              NaN
1  10000001234            14530.1555        14530.155
2  10000001236                   NaN            1.000

Sample Rows Only in Original (First 10 Columns)
-----------------------------------------------

       acct_id  dollar_amt           name  float_fld    date_fld
0  10000001239        1.05  Lucille Bluth        NaN  2017-01-01

Sample Rows Only in New (First 10 Columns)
------------------------------------------

       acct_id  dollar_amt              name  float_fld
0  10000001238        1.05  Loose Seal Bluth      111.0

In [9]:
from io import StringIO
import pandas as pd
import datacompy
import json
from schema_sentinel.metadata_manager.model.database import Database
left = Database(
    version='0.1.0',
    environment='dev',
    database_name='SDP',
    database_owner='US_DEV_DEV_USER',
    is_transient='NO',
    comment=None,
    created='2023-04-01',
    last_altered='2023-09-01',
    retention_time=30)
left.database_id = left.__get_id__()

right = Database(
    version='0.1.3',
    environment='dev',
    database_name='SDP',
    database_owner='US_DEV_DEV_USER',
    is_transient='NO',
    comment=None,
    created='2023-04-01',
    last_altered='2023-09-20',
    retention_time=30)
right.database_id = right.__get_id__()

left.__side_by_side__(right)


compare = datacompy.Compare(
    left.__get_df__(),
    right.__get_df__(),
    join_columns='Attribute',  #You can also specify a list of columns
    abs_tol=0, #Optional, defaults to 0
    rel_tol=0, #Optional, defaults to 0
    df1_name='Original', #Optional, defaults to 'df1'
    df2_name='New' #Optional, defaults to 'df2'
)

print(compare.matches(ignore_extra_columns=False))

print(compare.report())

2023-09-22 13:25:58,050 [MainThread  ] [INFO ]  df1 does not Pandas.DataFrame.equals df2
2023-09-22 13:25:58,050 [MainThread  ] [INFO ]  Number of columns in common: 2
2023-09-22 13:25:58,051 [MainThread  ] [INFO ]  Number of columns in df1 and not in df2: 0
2023-09-22 13:25:58,051 [MainThread  ] [INFO ]  Number of columns in df2 and not in df1: 0
2023-09-22 13:25:58,058 [MainThread  ] [INFO ]  Number of rows in df1 and not in df2: 0
2023-09-22 13:25:58,058 [MainThread  ] [INFO ]  Number of rows in df2 and not in df1: 0
2023-09-22 13:25:58,059 [MainThread  ] [INFO ]  Number of rows in df1 and df2 (not necessarily equal): {len(self.intersect_rows)}
2023-09-22 13:25:58,059 [MainThread  ] [INFO ]  attribute: 10 / 10 (100.00%) match
2023-09-22 13:25:58,061 [MainThread  ] [INFO ]  value: 7 / 10 (70.00%) match
2023-09-22 13:25:58,063 [MainThread  ] [INFO ]  df1 does not match df2

False
DataComPy Comparison
--------------------

DataFrame Summary
-----------------

  DataFrame  Columns  Rows
0  Original        2    10
1       New        2    10

Column Summary
--------------

Number of columns in common: 2
Number of columns in Original but not in New: 0
Number of columns in New but not in Original: 0

Row Summary
-----------

Matched on: attribute
Any duplicates on match values: No
Absolute Tolerance: 0
Relative Tolerance: 0
Number of rows in common: 10
Number of rows in Original but not in New: 0
Number of rows in New but not in Original: 0

Number of rows with some compared columns unequal: 3
Number of rows with all compared columns equal: 7

Column Comparison
-----------------

Number of columns compared with some values unequal: 1
Number of columns compared with all values equal: 1
Total number of values which compare unequal: 3

Columns with Unequal Values or Types
------------------------------------

  Column Original dtype New dtype  # Unequal  Max Diff  # Null Diff
0  value         object    object          3         0            0

Sample Rows with Unequal Values
-------------------------------

      attribute                                                    value (Original)                                                         value (New)
0       version                                                               0.1.0                                                               0.1.3
1  last_altered                                                          2023-09-01                                                          2023-09-20
2   database_id  {"database_name": "SDP", "version": "0.1.0", "environment": "dev"}  {"database_name": "SDP", "version": "0.1.3", "environment": "dev"}

In [14]:
print(compare.all_columns_match())
print(compare.all_mismatch())
print(compare.all_rows_overlap())
print(compare.count_matching_rows())
print(compare.df1_unq_columns())
print(compare.intersect_columns())
print(compare.intersect_rows_match())
print(compare.matches())
print(compare.sample_mismatch('value'))

print(datacompy.core.render("/Users/igladyshev/PycharmProjects/sql-comparison/resources/datacompy/templates/header.md", 
                            ["SDP Data Model vv.0.1.0 -> 0.1.3", "Database"]))

True
      attribute                                          value_df1  \
0       version                                              0.1.0
7  last_altered                                         2023-09-01
9   database_id  {"database_name": "SDP", "version": "0.1.0", "...

                                           value_df2
0                                              0.1.3
7                                         2023-09-20
9  {"database_name": "SDP", "version": "0.1.3", "...
True
7
OrderedSet()
OrderedSet(['attribute', 'value'])
False
False
      attribute                                          value_df1  \
0       version                                              0.1.0
9   database_id  {"database_name": "SDP", "version": "0.1.0", "...
7  last_altered                                         2023-09-01

                                           value_df2
0                                              0.1.3
9  {"database_name": "SDP", "version": "0.1.3", "...
7                                         2023-09-20

IndexError: Replacement index 1 out of range for positional args tuple